# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables (PENTING BIAR GAK KECURI)
.env
.env.local
.env.*

# Build output
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?